<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ru.course.spring"/>
<!--    <context:property-placeholder location="classpath:musicPlayer.properties"/>-->

<!--    <bean id="jazzBean"-->
<!--          class="ru.course.spring.JazzMusic">-->
<!--    </bean>-->
<!--    <bean id="rockBean"-->
<!--          class="ru.course.spring.RockMusic"-->
<!--    scope="prototype"-->
<!--    init-method="initB"-->
<!--    destroy-method="destrB">-->
<!--    </bean>-->
<!--    <bean id="classicBean"-->
<!--          class="ru.course.spring.ClassicalMusic"-->
<!--    init-method="doMyInt"-->
<!--    destroy-method="doMyDestroy"-->
<!--    factory-method="getClassicalMusic">-->
<!--    </bean>-->
<!--    <bean id="musicPlayer"-->
<!--          class="ru.course.spring.MusicPlayer"-->
<!--          scope="prototype">-->
<!--        <property name="musicList">-->
<!--            <list>-->
<!--                <ref bean="classicBean"/>-->
<!--                <ref bean="jazzBean"/>-->
<!--                <ref bean="rockBean"/>-->
<!--            </list>-->
<!--        </property>-->
<!--        <property name="name" value="${musicPlayer.name}"/>-->
<!--        <property name="volume" value="${musicPlayer.volume}"/>-->
<!--    </bean>-->

</beans>